@font-face {
    font-family:'atari_full';
    src: url('atari_full-webfont.eot');
    src: url('atari_full-webfont.eot?#iefix') format('embedded-opentype'),
         url('atari_full-webfont.woff') format('woff'),
         url('atari_full-webfont.ttf') format('truetype'),
         url('atari_full-webfont.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

header {

}

.color_bar {
  width: 100%;
    height: 110px;
      background-image: linear-gradient(
        #000000 0%,
        #000000 2.5%,
        #1973c1 2.5%,
        #1973c1 12.5%,
        #000000 12.5%,
        #000000 15%,
        #6d1599 17.5%,
        #6d1599 32.5%,
        #000000 32.5%,
        #000000 35%,
        #ce1a0a 35%,
        #ce1a0a 50%,
        #000000 50%,
        #000000 52.5%,
        #ef8c13 52.5%,
        #ef8c13 67.5%,
        #000000 67.5%,
        #000000 70%,
        #ffe20a 70%,
        #ffe20a 85%,
        #000000 85%,
        #000000 100%
        )
      }

.titre_1 {
        color: black;
        padding-top: 2.5%;
        font-size: 250%;
        outline: 5px green;
        outline-offset: 70px;
        outline-width: 50px;
        font-family: atari_full;
      }

body { background-color: #0a1921;
}

/*nav {
      position: absolute;
      padding-left: 300px;
      width: 800px;
      height: 900px;
}*/

.scrollmenu {
  background: #333;
  margin: 0;
  padding: 0;
  width: 19em;
  height: 100%;
}

.scrollmenu li {
  font: 67.5% "Lucida Sans Unicode", "Bitstream Vera Sans", "Trebuchet Unicode MS", "Lucida Grande", Verdana, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  list-style: none;
}

.scrollmenu a {
  background: #333;
  border-bottom: 5px solid #393939;
  color: #ccc;
  display: block;
  margin: 0;
  padding: 8px 12px;
  text-decoration: none;
  font-weight: normal;
}

.scrollmenu a:hover {
  background-color: #000000;
  background-image: url("img/home_Smenu.png") no-repeat;
  }
  .home_menu{}
  .news_menu{}
  .contact_menu{}
  .about_menu{}

footer {
}

.menufooter {
  justify-content: space-between;
  display: flex;
  flex-direction: row;
  padding-bottom: 8px;
  list-style-type: none;
  font-size: 20px;
  font-family: sans-serif;
  background-color: grey;
  height: 30px;
}

.boomboom {
    animation-duration: 200ms;
    animation-direction: alternate;
    animation-iteration-count: 2;
    animation-name: bouncing;
}

@keyframes bouncing {
  from {
      transform: scale(1);
  }
  to {
      transform: scale(1.2);
  }
}
