@font-face {
    font-family:'atari_full';
    src: url('atari_full-webfont.eot');
    src: url('atari_full-webfont.eot?#iefix') format('embedded-opentype'),
         url('atari_full-webfont.woff') format('woff'),
         url('atari_full-webfont.ttf') format('truetype'),
         url('atari_full-webfont.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

header {

}

.color_bar {
  width: 100%;
    height: 90px;
      background-image: linear-gradient(
        #000000 0%,
        #000000 5%,
        #1973c1 5%,
        #1973c1 20%,
        #000000 20%,
        #000000 25%,
        #6d1599 25%,
        #6d1599 40%,
        #000000 40%,
        #000000 45%,
        #ce1a0a 45%,
        #ce1a0a 60%,
        #000000 60%,
        #000000 65%,
        #ef8c13 65%,
        #ef8c13 80%,
        #000000 80%,
        #000000 85%,
        #ffe20a 85%,
        #ffe20a 100%
        )
      }

body { background-color: black;
}

.titre_1 {
  color: white;
  outline: 5px green;
  outline-offset: 20px;
  outline-width: 50px;
  font-family: atari_full;
}
